<a href="https://colab.research.google.com/github/Anushwa0306/Python-Practises/blob/main/Python_Practises_ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
import numpy as np
import pandas as pd
import seaborn as sns

In [ ]:
# Read csv file
california_housing_test = pd.read_csv("/content/california_housing_test.csv")

In [ ]:
#Data Frames Attributes
california_housing_test = california_housing_test.head(10)

In [ ]:
california_housing_test = california_housing_test.head(20)

In [ ]:
california_housing_test = california_housing_test.head(30)

In [ ]:
california_housing_test.dtypes

longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
dtype: object

In [ ]:
california_housing_test.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value'],
      dtype='object')

In [ ]:
california_housing_test.axes

[RangeIndex(start=0, stop=10, step=1),
 Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
        'total_bedrooms', 'population', 'households', 'median_income',
        'median_house_value'],
       dtype='object')]

In [ ]:
california_housing_test.ndim

2

In [ ]:
california_housing_test.size

90

In [ ]:
california_housing_test.shape

(10, 9)

In [ ]:
california_housing_test.values

array([[-1.2205e+02,  3.7370e+01,  2.7000e+01,  3.8850e+03,  6.6100e+02,
         1.5370e+03,  6.0600e+02,  6.6085e+00,  3.4470e+05],
       [-1.1830e+02,  3.4260e+01,  4.3000e+01,  1.5100e+03,  3.1000e+02,
         8.0900e+02,  2.7700e+02,  3.5990e+00,  1.7650e+05],
       [-1.1781e+02,  3.3780e+01,  2.7000e+01,  3.5890e+03,  5.0700e+02,
         1.4840e+03,  4.9500e+02,  5.7934e+00,  2.7050e+05],
       [-1.1836e+02,  3.3820e+01,  2.8000e+01,  6.7000e+01,  1.5000e+01,
         4.9000e+01,  1.1000e+01,  6.1359e+00,  3.3000e+05],
       [-1.1967e+02,  3.6330e+01,  1.9000e+01,  1.2410e+03,  2.4400e+02,
         8.5000e+02,  2.3700e+02,  2.9375e+00,  8.1700e+04],
       [-1.1956e+02,  3.6510e+01,  3.7000e+01,  1.0180e+03,  2.1300e+02,
         6.6300e+02,  2.0400e+02,  1.6635e+00,  6.7000e+04],
       [-1.2143e+02,  3.8630e+01,  4.3000e+01,  1.0090e+03,  2.2500e+02,
         6.0400e+02,  2.1800e+02,  1.6641e+00,  6.7000e+04],
       [-1.2065e+02,  3.5480e+01,  1.9000e+01,  2.3100e+03,  4.7100e+02,
         1.3410e+03,  4.4100e+02,  3.2250e+00,  1.6690e+05],
       [-1.2284e+02,  3.8400e+01,  1.5000e+01,  3.0800e+03,  6.1700e+02,
         1.4460e+03,  5.9900e+02,  3.6696e+00,  1.9440e+05],
       [-1.1802e+02,  3.4080e+01,  3.1000e+01,  2.4020e+03,  6.3200e+02,
         2.8300e+03,  6.0300e+02,  2.3333e+00,  1.6420e+05]])

In [ ]:
# Data Frames Methods
california_housing_test.head(10)

   longitude  latitude  ...  median_income  median_house_value
0    -122.05     37.37  ...         6.6085            344700.0
1    -118.30     34.26  ...         3.5990            176500.0
2    -117.81     33.78  ...         5.7934            270500.0
3    -118.36     33.82  ...         6.1359            330000.0
4    -119.67     36.33  ...         2.9375             81700.0
5    -119.56     36.51  ...         1.6635             67000.0
6    -121.43     38.63  ...         1.6641             67000.0
7    -120.65     35.48  ...         3.2250            166900.0
8    -122.84     38.40  ...         3.6696            194400.0
9    -118.02     34.08  ...         2.3333            164200.0

[10 rows x 9 columns]

In [ ]:
california_housing_test.describe

<bound method NDFrame.describe of    longitude  latitude  ...  median_income  median_house_value
0    -122.05     37.37  ...         6.6085            344700.0
1    -118.30     34.26  ...         3.5990            176500.0
2    -117.81     33.78  ...         5.7934            270500.0
3    -118.36     33.82  ...         6.1359            330000.0
4    -119.67     36.33  ...         2.9375             81700.0
5    -119.56     36.51  ...         1.6635             67000.0
6    -121.43     38.63  ...         1.6641             67000.0
7    -120.65     35.48  ...         3.2250            166900.0
8    -122.84     38.40  ...         3.6696            194400.0
9    -118.02     34.08  ...         2.3333            164200.0

[10 rows x 9 columns]>

In [ ]:
california_housing_test.max,min

(<bound method DataFrame.max of    longitude  latitude  ...  median_income  median_house_value
 0    -122.05     37.37  ...         6.6085            344700.0
 1    -118.30     34.26  ...         3.5990            176500.0
 2    -117.81     33.78  ...         5.7934            270500.0
 3    -118.36     33.82  ...         6.1359            330000.0
 4    -119.67     36.33  ...         2.9375             81700.0
 5    -119.56     36.51  ...         1.6635             67000.0
 6    -121.43     38.63  ...         1.6641             67000.0
 7    -120.65     35.48  ...         3.2250            166900.0
 8    -122.84     38.40  ...         3.6696            194400.0
 9    -118.02     34.08  ...         2.3333            164200.0

 [10 rows x 9 columns]>, <function min>)

In [ ]:
california_housing_test.mean

<bound method DataFrame.mean of    longitude  latitude  ...  median_income  median_house_value
0    -122.05     37.37  ...         6.6085            344700.0
1    -118.30     34.26  ...         3.5990            176500.0
2    -117.81     33.78  ...         5.7934            270500.0
3    -118.36     33.82  ...         6.1359            330000.0
4    -119.67     36.33  ...         2.9375             81700.0
5    -119.56     36.51  ...         1.6635             67000.0
6    -121.43     38.63  ...         1.6641             67000.0
7    -120.65     35.48  ...         3.2250            166900.0
8    -122.84     38.40  ...         3.6696            194400.0
9    -118.02     34.08  ...         2.3333            164200.0

[10 rows x 9 columns]>

In [ ]:
california_housing_test.std

<bound method DataFrame.std of    longitude  latitude  ...  median_income  median_house_value
0    -122.05     37.37  ...         6.6085            344700.0
1    -118.30     34.26  ...         3.5990            176500.0
2    -117.81     33.78  ...         5.7934            270500.0
3    -118.36     33.82  ...         6.1359            330000.0
4    -119.67     36.33  ...         2.9375             81700.0
5    -119.56     36.51  ...         1.6635             67000.0
6    -121.43     38.63  ...         1.6641             67000.0
7    -120.65     35.48  ...         3.2250            166900.0
8    -122.84     38.40  ...         3.6696            194400.0
9    -118.02     34.08  ...         2.3333            164200.0

[10 rows x 9 columns]>

In [ ]:
california_housing_test.sample

<bound method NDFrame.sample of    longitude  latitude  ...  median_income  median_house_value
0    -122.05     37.37  ...         6.6085            344700.0
1    -118.30     34.26  ...         3.5990            176500.0
2    -117.81     33.78  ...         5.7934            270500.0
3    -118.36     33.82  ...         6.1359            330000.0
4    -119.67     36.33  ...         2.9375             81700.0
5    -119.56     36.51  ...         1.6635             67000.0
6    -121.43     38.63  ...         1.6641             67000.0
7    -120.65     35.48  ...         3.2250            166900.0
8    -122.84     38.40  ...         3.6696            194400.0
9    -118.02     34.08  ...         2.3333            164200.0

[10 rows x 9 columns]>

In [ ]:
california_housing_test.dropna

<bound method DataFrame.dropna of    longitude  latitude  ...  median_income  median_house_value
0    -122.05     37.37  ...         6.6085            344700.0
1    -118.30     34.26  ...         3.5990            176500.0
2    -117.81     33.78  ...         5.7934            270500.0
3    -118.36     33.82  ...         6.1359            330000.0
4    -119.67     36.33  ...         2.9375             81700.0
5    -119.56     36.51  ...         1.6635             67000.0
6    -121.43     38.63  ...         1.6641             67000.0
7    -120.65     35.48  ...         3.2250            166900.0
8    -122.84     38.40  ...         3.6696            194400.0
9    -118.02     34.08  ...         2.3333            164200.0

[10 rows x 9 columns]>

In [ ]:
california_housing_test.head(10).mean

<bound method DataFrame.mean of    longitude  latitude  ...  median_income  median_house_value
0    -122.05     37.37  ...         6.6085            344700.0
1    -118.30     34.26  ...         3.5990            176500.0
2    -117.81     33.78  ...         5.7934            270500.0
3    -118.36     33.82  ...         6.1359            330000.0
4    -119.67     36.33  ...         2.9375             81700.0
5    -119.56     36.51  ...         1.6635             67000.0
6    -121.43     38.63  ...         1.6641             67000.0
7    -120.65     35.48  ...         3.2250            166900.0
8    -122.84     38.40  ...         3.6696            194400.0
9    -118.02     34.08  ...         2.3333            164200.0

[10 rows x 9 columns]>

In [ ]:
#Selecting a column in a Data Frame
# Calculate the basic statistics for the latitude column;
california_housing_test["latitude"].describe

<bound method NDFrame.describe of 0    37.37
1    34.26
2    33.78
3    33.82
4    36.33
5    36.51
6    38.63
7    35.48
8    38.40
9    34.08
Name: latitude, dtype: float64>

In [ ]:
# How many values are there in latitude column (use count method)
california_housing_test.latitude.count

<bound method Series.count of 0    37.37
1    34.26
2    33.78
3    33.82
4    36.33
5    36.51
6    38.63
7    35.48
8    38.40
9    34.08
Name: latitude, dtype: float64>

In [ ]:
# Calculate the average of latitude
california_housing_test.latitude.mean

<bound method Series.mean of 0    37.37
1    34.26
2    33.78
3    33.82
4    36.33
5    36.51
6    38.63
7    35.48
8    38.40
9    34.08
Name: latitude, dtype: float64>

In [ ]:
import pandas as pd

In [ ]:
california_housing_test = pd.read_csv("/content/california_housing_test.csv")

In [15]:
# Data Frames Groupby Method
california_housing_test_rank = california_housing_test.groupby(['population'])

In [ ]:
california_housing_test_rank.mean

In [13]:
# calculate mean for the median house value 
california_housing_test_sub = california_housing_test[california_housing_test['median_house_value']>120000]

In [21]:
california_housing_test_f = california_housing_test[california_housing_test['latitude']=='latitude']

In [23]:
# Data Frame: Slicing
california_housing_test['total_rooms']

0       3885.0
1       1510.0
2       3589.0
3         67.0
4       1241.0
         ...
2995    1450.0
2996    5257.0
2997     956.0
2998      96.0
2999    1765.0
Name: total_rooms, Length: 3000, dtype: float64

In [27]:
california_housing_test[['latitude','longitude']]

      latitude  longitude
0        37.37    -122.05
1        34.26    -118.30
2        33.78    -117.81
3        33.82    -118.36
4        36.33    -119.67
...        ...        ...
2995     34.42    -119.86
2996     34.06    -118.14
2997     36.30    -119.70
2998     34.10    -117.12
2999     34.42    -119.63

[3000 rows x 2 columns]

In [29]:
# Iloc Method 
california_housing_test.iloc[0]

longitude               -122.0500
latitude                  37.3700
housing_median_age        27.0000
total_rooms             3885.0000
total_bedrooms           661.0000
population              1537.0000
households               606.0000
median_income              6.6085
median_house_value    344700.0000
Name: 0, dtype: float64

In [32]:
california_housing_test.iloc[20]

longitude               -122.1500
latitude                  37.7500
housing_median_age        40.0000
total_rooms             1445.0000
total_bedrooms           256.0000
population               849.0000
households               255.0000
median_income              3.8913
median_house_value    126300.0000
Name: 20, dtype: float64

In [33]:
california_housing_test.iloc[-2]

longitude               -117.1200
latitude                  34.1000
housing_median_age        40.0000
total_rooms               96.0000
total_bedrooms            14.0000
population                46.0000
households                14.0000
median_income              3.2708
median_house_value    162500.0000
Name: 2998, dtype: float64

In [35]:
california_housing_test.iloc[:,0]

0      -122.05
1      -118.30
2      -117.81
3      -118.36
4      -119.67
         ...
2995   -119.86
2996   -118.14
2997   -119.70
2998   -117.12
2999   -119.63
Name: longitude, Length: 3000, dtype: float64

In [36]:
california_housing_test.iloc[:,-1]

0       344700.0
1       176500.0
2       270500.0
3       330000.0
4        81700.0
          ...
2995    225000.0
2996    237200.0
2997     62000.0
2998    162500.0
2999    500001.0
Name: median_house_value, Length: 3000, dtype: float64

In [37]:
california_housing_test.iloc[0:10]

   longitude  latitude  ...  median_income  median_house_value
0    -122.05     37.37  ...         6.6085            344700.0
1    -118.30     34.26  ...         3.5990            176500.0
2    -117.81     33.78  ...         5.7934            270500.0
3    -118.36     33.82  ...         6.1359            330000.0
4    -119.67     36.33  ...         2.9375             81700.0
5    -119.56     36.51  ...         1.6635             67000.0
6    -121.43     38.63  ...         1.6641             67000.0
7    -120.65     35.48  ...         3.2250            166900.0
8    -122.84     38.40  ...         3.6696            194400.0
9    -118.02     34.08  ...         2.3333            164200.0

[10 rows x 9 columns]

In [38]:
california_housing_test.iloc[:,0:4]

      longitude  latitude  housing_median_age  total_rooms
0       -122.05     37.37                27.0       3885.0
1       -118.30     34.26                43.0       1510.0
2       -117.81     33.78                27.0       3589.0
3       -118.36     33.82                28.0         67.0
4       -119.67     36.33                19.0       1241.0
...         ...       ...                 ...          ...
2995    -119.86     34.42                23.0       1450.0
2996    -118.14     34.06                27.0       5257.0
2997    -119.70     36.30                10.0        956.0
2998    -117.12     34.10                40.0         96.0
2999    -119.63     34.42                42.0       1765.0

[3000 rows x 4 columns]

In [39]:
california_housing_test.iloc[1:3,0:2]

   longitude  latitude
1    -118.30     34.26
2    -117.81     33.78

In [40]:
california_housing_test.iloc[[0,5],[1,3]]

   latitude  total_rooms
0     37.37       3885.0
5     36.51       1018.0

In [41]:
# Basic Descriptive Statistics
california_housing_test.describe

<bound method NDFrame.describe of       longitude  latitude  ...  median_income  median_house_value
0       -122.05     37.37  ...         6.6085            344700.0
1       -118.30     34.26  ...         3.5990            176500.0
2       -117.81     33.78  ...         5.7934            270500.0
3       -118.36     33.82  ...         6.1359            330000.0
4       -119.67     36.33  ...         2.9375             81700.0
...         ...       ...  ...            ...                 ...
2995    -119.86     34.42  ...         1.1790            225000.0
2996    -118.14     34.06  ...         3.3906            237200.0
2997    -119.70     36.30  ...         2.2895             62000.0
2998    -117.12     34.10  ...         3.2708            162500.0
2999    -119.63     34.42  ...         8.5608            500001.0

[3000 rows x 9 columns]>

In [43]:
california_housing_test.describe

<bound method NDFrame.describe of       longitude  latitude  ...  median_income  median_house_value
0       -122.05     37.37  ...         6.6085            344700.0
1       -118.30     34.26  ...         3.5990            176500.0
2       -117.81     33.78  ...         5.7934            270500.0
3       -118.36     33.82  ...         6.1359            330000.0
4       -119.67     36.33  ...         2.9375             81700.0
...         ...       ...  ...            ...                 ...
2995    -119.86     34.42  ...         1.1790            225000.0
2996    -118.14     34.06  ...         3.3906            237200.0
2997    -119.70     36.30  ...         2.2895             62000.0
2998    -117.12     34.10  ...         3.2708            162500.0
2999    -119.63     34.42  ...         8.5608            500001.0

[3000 rows x 9 columns]>

In [46]:
california_housing_test.min

<bound method DataFrame.min of       longitude  latitude  ...  median_income  median_house_value
0       -122.05     37.37  ...         6.6085            344700.0
1       -118.30     34.26  ...         3.5990            176500.0
2       -117.81     33.78  ...         5.7934            270500.0
3       -118.36     33.82  ...         6.1359            330000.0
4       -119.67     36.33  ...         2.9375             81700.0
...         ...       ...  ...            ...                 ...
2995    -119.86     34.42  ...         1.1790            225000.0
2996    -118.14     34.06  ...         3.3906            237200.0
2997    -119.70     36.30  ...         2.2895             62000.0
2998    -117.12     34.10  ...         3.2708            162500.0
2999    -119.63     34.42  ...         8.5608            500001.0

[3000 rows x 9 columns]>

In [47]:
california_housing_test.mode

<bound method DataFrame.mode of       longitude  latitude  ...  median_income  median_house_value
0       -122.05     37.37  ...         6.6085            344700.0
1       -118.30     34.26  ...         3.5990            176500.0
2       -117.81     33.78  ...         5.7934            270500.0
3       -118.36     33.82  ...         6.1359            330000.0
4       -119.67     36.33  ...         2.9375             81700.0
...         ...       ...  ...            ...                 ...
2995    -119.86     34.42  ...         1.1790            225000.0
2996    -118.14     34.06  ...         3.3906            237200.0
2997    -119.70     36.30  ...         2.2895             62000.0
2998    -117.12     34.10  ...         3.2708            162500.0
2999    -119.63     34.42  ...         8.5608            500001.0

[3000 rows x 9 columns]>

In [48]:
california_housing_test.var

<bound method DataFrame.var of       longitude  latitude  ...  median_income  median_house_value
0       -122.05     37.37  ...         6.6085            344700.0
1       -118.30     34.26  ...         3.5990            176500.0
2       -117.81     33.78  ...         5.7934            270500.0
3       -118.36     33.82  ...         6.1359            330000.0
4       -119.67     36.33  ...         2.9375             81700.0
...         ...       ...  ...            ...                 ...
2995    -119.86     34.42  ...         1.1790            225000.0
2996    -118.14     34.06  ...         3.3906            237200.0
2997    -119.70     36.30  ...         2.2895             62000.0
2998    -117.12     34.10  ...         3.2708            162500.0
2999    -119.63     34.42  ...         8.5608            500001.0

[3000 rows x 9 columns]>

In [49]:
california_housing_test.sem

<bound method DataFrame.sem of       longitude  latitude  ...  median_income  median_house_value
0       -122.05     37.37  ...         6.6085            344700.0
1       -118.30     34.26  ...         3.5990            176500.0
2       -117.81     33.78  ...         5.7934            270500.0
3       -118.36     33.82  ...         6.1359            330000.0
4       -119.67     36.33  ...         2.9375             81700.0
...         ...       ...  ...            ...                 ...
2995    -119.86     34.42  ...         1.1790            225000.0
2996    -118.14     34.06  ...         3.3906            237200.0
2997    -119.70     36.30  ...         2.2895             62000.0
2998    -117.12     34.10  ...         3.2708            162500.0
2999    -119.63     34.42  ...         8.5608            500001.0

[3000 rows x 9 columns]>

In [50]:
california_housing_test.skew

<bound method DataFrame.skew of       longitude  latitude  ...  median_income  median_house_value
0       -122.05     37.37  ...         6.6085            344700.0
1       -118.30     34.26  ...         3.5990            176500.0
2       -117.81     33.78  ...         5.7934            270500.0
3       -118.36     33.82  ...         6.1359            330000.0
4       -119.67     36.33  ...         2.9375             81700.0
...         ...       ...  ...            ...                 ...
2995    -119.86     34.42  ...         1.1790            225000.0
2996    -118.14     34.06  ...         3.3906            237200.0
2997    -119.70     36.30  ...         2.2895             62000.0
2998    -117.12     34.10  ...         3.2708            162500.0
2999    -119.63     34.42  ...         8.5608            500001.0

[3000 rows x 9 columns]>

In [51]:
california_housing_test.kurt

<bound method DataFrame.kurt of       longitude  latitude  ...  median_income  median_house_value
0       -122.05     37.37  ...         6.6085            344700.0
1       -118.30     34.26  ...         3.5990            176500.0
2       -117.81     33.78  ...         5.7934            270500.0
3       -118.36     33.82  ...         6.1359            330000.0
4       -119.67     36.33  ...         2.9375             81700.0
...         ...       ...  ...            ...                 ...
2995    -119.86     34.42  ...         1.1790            225000.0
2996    -118.14     34.06  ...         3.3906            237200.0
2997    -119.70     36.30  ...         2.2895             62000.0
2998    -117.12     34.10  ...         3.2708            162500.0
2999    -119.63     34.42  ...         8.5608            500001.0

[3000 rows x 9 columns]>