In [ ]:
import numpy as np
import pandas as pd
import seaborn as sb

In [22]:
# Read csv file
california_housing_test = pd.read_csv("/content/california_housing_test.csv")

In [53]:
#Data Frames Attributes
california_housing_test = california_housing_test.head(10)

In [29]:
california_housing_test = california_housing_test.head(20)

In [36]:
california_housing_test = california_housing_test.head(30)

In [40]:
california_housing_test.dtypes

longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
dtype: object

In [42]:
california_housing_test.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value'],
      dtype='object')

In [44]:
california_housing_test.axes

[RangeIndex(start=0, stop=10, step=1),
 Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
        'total_bedrooms', 'population', 'households', 'median_income',
        'median_house_value'],
       dtype='object')]

In [46]:
california_housing_test.ndim

2

In [48]:
california_housing_test.size

90

In [50]:
california_housing_test.shape

(10, 9)

In [52]:
california_housing_test.values

array([[-1.2205e+02,  3.7370e+01,  2.7000e+01,  3.8850e+03,  6.6100e+02,
         1.5370e+03,  6.0600e+02,  6.6085e+00,  3.4470e+05],
       [-1.1830e+02,  3.4260e+01,  4.3000e+01,  1.5100e+03,  3.1000e+02,
         8.0900e+02,  2.7700e+02,  3.5990e+00,  1.7650e+05],
       [-1.1781e+02,  3.3780e+01,  2.7000e+01,  3.5890e+03,  5.0700e+02,
         1.4840e+03,  4.9500e+02,  5.7934e+00,  2.7050e+05],
       [-1.1836e+02,  3.3820e+01,  2.8000e+01,  6.7000e+01,  1.5000e+01,
         4.9000e+01,  1.1000e+01,  6.1359e+00,  3.3000e+05],
       [-1.1967e+02,  3.6330e+01,  1.9000e+01,  1.2410e+03,  2.4400e+02,
         8.5000e+02,  2.3700e+02,  2.9375e+00,  8.1700e+04],
       [-1.1956e+02,  3.6510e+01,  3.7000e+01,  1.0180e+03,  2.1300e+02,
         6.6300e+02,  2.0400e+02,  1.6635e+00,  6.7000e+04],
       [-1.2143e+02,  3.8630e+01,  4.3000e+01,  1.0090e+03,  2.2500e+02,
         6.0400e+02,  2.1800e+02,  1.6641e+00,  6.7000e+04],
       [-1.2065e+02,  3.5480e+01,  1.9000e+01,  2.3100e+03,  4.7100e+02,
         1.3410e+03,  4.4100e+02,  3.2250e+00,  1.6690e+05],
       [-1.2284e+02,  3.8400e+01,  1.5000e+01,  3.0800e+03,  6.1700e+02,
         1.4460e+03,  5.9900e+02,  3.6696e+00,  1.9440e+05],
       [-1.1802e+02,  3.4080e+01,  3.1000e+01,  2.4020e+03,  6.3200e+02,
         2.8300e+03,  6.0300e+02,  2.3333e+00,  1.6420e+05]])

In [58]:
# Data Frames Methods
california_housing_test.head(10)

   longitude  latitude  ...  median_income  median_house_value
0    -122.05     37.37  ...         6.6085            344700.0
1    -118.30     34.26  ...         3.5990            176500.0
2    -117.81     33.78  ...         5.7934            270500.0
3    -118.36     33.82  ...         6.1359            330000.0
4    -119.67     36.33  ...         2.9375             81700.0
5    -119.56     36.51  ...         1.6635             67000.0
6    -121.43     38.63  ...         1.6641             67000.0
7    -120.65     35.48  ...         3.2250            166900.0
8    -122.84     38.40  ...         3.6696            194400.0
9    -118.02     34.08  ...         2.3333            164200.0

[10 rows x 9 columns]

In [61]:
california_housing_test.describe

<bound method NDFrame.describe of    longitude  latitude  ...  median_income  median_house_value
0    -122.05     37.37  ...         6.6085            344700.0
1    -118.30     34.26  ...         3.5990            176500.0
2    -117.81     33.78  ...         5.7934            270500.0
3    -118.36     33.82  ...         6.1359            330000.0
4    -119.67     36.33  ...         2.9375             81700.0
5    -119.56     36.51  ...         1.6635             67000.0
6    -121.43     38.63  ...         1.6641             67000.0
7    -120.65     35.48  ...         3.2250            166900.0
8    -122.84     38.40  ...         3.6696            194400.0
9    -118.02     34.08  ...         2.3333            164200.0

[10 rows x 9 columns]>

In [63]:
california_housing_test.max,min

(<bound method DataFrame.max of    longitude  latitude  ...  median_income  median_house_value
 0    -122.05     37.37  ...         6.6085            344700.0
 1    -118.30     34.26  ...         3.5990            176500.0
 2    -117.81     33.78  ...         5.7934            270500.0
 3    -118.36     33.82  ...         6.1359            330000.0
 4    -119.67     36.33  ...         2.9375             81700.0
 5    -119.56     36.51  ...         1.6635             67000.0
 6    -121.43     38.63  ...         1.6641             67000.0
 7    -120.65     35.48  ...         3.2250            166900.0
 8    -122.84     38.40  ...         3.6696            194400.0
 9    -118.02     34.08  ...         2.3333            164200.0

 [10 rows x 9 columns]>, <function min>)

In [67]:
california_housing_test.mean

<bound method DataFrame.mean of    longitude  latitude  ...  median_income  median_house_value
0    -122.05     37.37  ...         6.6085            344700.0
1    -118.30     34.26  ...         3.5990            176500.0
2    -117.81     33.78  ...         5.7934            270500.0
3    -118.36     33.82  ...         6.1359            330000.0
4    -119.67     36.33  ...         2.9375             81700.0
5    -119.56     36.51  ...         1.6635             67000.0
6    -121.43     38.63  ...         1.6641             67000.0
7    -120.65     35.48  ...         3.2250            166900.0
8    -122.84     38.40  ...         3.6696            194400.0
9    -118.02     34.08  ...         2.3333            164200.0

[10 rows x 9 columns]>

In [69]:
california_housing_test.std

<bound method DataFrame.std of    longitude  latitude  ...  median_income  median_house_value
0    -122.05     37.37  ...         6.6085            344700.0
1    -118.30     34.26  ...         3.5990            176500.0
2    -117.81     33.78  ...         5.7934            270500.0
3    -118.36     33.82  ...         6.1359            330000.0
4    -119.67     36.33  ...         2.9375             81700.0
5    -119.56     36.51  ...         1.6635             67000.0
6    -121.43     38.63  ...         1.6641             67000.0
7    -120.65     35.48  ...         3.2250            166900.0
8    -122.84     38.40  ...         3.6696            194400.0
9    -118.02     34.08  ...         2.3333            164200.0

[10 rows x 9 columns]>

In [71]:
california_housing_test.sample

<bound method NDFrame.sample of    longitude  latitude  ...  median_income  median_house_value
0    -122.05     37.37  ...         6.6085            344700.0
1    -118.30     34.26  ...         3.5990            176500.0
2    -117.81     33.78  ...         5.7934            270500.0
3    -118.36     33.82  ...         6.1359            330000.0
4    -119.67     36.33  ...         2.9375             81700.0
5    -119.56     36.51  ...         1.6635             67000.0
6    -121.43     38.63  ...         1.6641             67000.0
7    -120.65     35.48  ...         3.2250            166900.0
8    -122.84     38.40  ...         3.6696            194400.0
9    -118.02     34.08  ...         2.3333            164200.0

[10 rows x 9 columns]>

In [74]:
california_housing_test.dropna

<bound method DataFrame.dropna of    longitude  latitude  ...  median_income  median_house_value
0    -122.05     37.37  ...         6.6085            344700.0
1    -118.30     34.26  ...         3.5990            176500.0
2    -117.81     33.78  ...         5.7934            270500.0
3    -118.36     33.82  ...         6.1359            330000.0
4    -119.67     36.33  ...         2.9375             81700.0
5    -119.56     36.51  ...         1.6635             67000.0
6    -121.43     38.63  ...         1.6641             67000.0
7    -120.65     35.48  ...         3.2250            166900.0
8    -122.84     38.40  ...         3.6696            194400.0
9    -118.02     34.08  ...         2.3333            164200.0

[10 rows x 9 columns]>

In [76]:
california_housing_test.head(10).mean

<bound method DataFrame.mean of    longitude  latitude  ...  median_income  median_house_value
0    -122.05     37.37  ...         6.6085            344700.0
1    -118.30     34.26  ...         3.5990            176500.0
2    -117.81     33.78  ...         5.7934            270500.0
3    -118.36     33.82  ...         6.1359            330000.0
4    -119.67     36.33  ...         2.9375             81700.0
5    -119.56     36.51  ...         1.6635             67000.0
6    -121.43     38.63  ...         1.6641             67000.0
7    -120.65     35.48  ...         3.2250            166900.0
8    -122.84     38.40  ...         3.6696            194400.0
9    -118.02     34.08  ...         2.3333            164200.0

[10 rows x 9 columns]>

In [78]:
#Selecting a column in a Data Frame
# Calculate the basic statistics for the latitude column;
california_housing_test["latitude"].describe

<bound method NDFrame.describe of 0    37.37
1    34.26
2    33.78
3    33.82
4    36.33
5    36.51
6    38.63
7    35.48
8    38.40
9    34.08
Name: latitude, dtype: float64>

In [81]:
# How many values are there in latitude column (use count method)
california_housing_test.latitude.count

<bound method Series.count of 0    37.37
1    34.26
2    33.78
3    33.82
4    36.33
5    36.51
6    38.63
7    35.48
8    38.40
9    34.08
Name: latitude, dtype: float64>

In [82]:
# Calculate the average of latitude
california_housing_test.latitude.mean

<bound method Series.mean of 0    37.37
1    34.26
2    33.78
3    33.82
4    36.33
5    36.51
6    38.63
7    35.48
8    38.40
9    34.08
Name: latitude, dtype: float64>